@import "breakpoints";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: $primaryColor;
}
section{
    @include breakpoint(medium){
        max-width: 1400px;
        margin: auto;
    }
}
